In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\derri\OneDrive\Documents\VSCode\HK Socio Analysis\CleanedCSV\POS - Copy.csv")
df.head()

,Unnamed: 0,ownership,name,gmid,district
0,0,Multiple,LOHAS Park,aiFL4QwHuZ,SAI KUNG
1,1,Single,Grand Central,UmOF1rER4o,KWUN TONG
2,2,Single,Maritime Square Phase 2,qazT4s1k3p,KWAI TSING
3,3,Single,Nina Tower,gepLB1D3NR,TSUEN WAN
4,4,Single,Phase 8 Development of the Hong Kong Polytechn...,0bdQlzzkqg,YAU TSIM MONG

In [ ]:
# df['Ownership'] = df['Ownership'].str.replace(r' Ownership', '')
# df.head()

In [12]:
df.rename(columns={'Ownership': 'ownership', 'Name': 'name', 'GMID': 'gmid', 'Relevant District Council': 'district'}, inplace=True)
df.head()
df.drop(df.columns[0], axis=1)

,ownership,name,gmid,district
0,Multiple,LOHAS Park,aiFL4QwHuZ,SAI KUNG
1,Single,Grand Central,UmOF1rER4o,KWUN TONG
2,Single,Maritime Square Phase 2,qazT4s1k3p,KWAI TSING
3,Single,Nina Tower,gepLB1D3NR,TSUEN WAN
4,Single,Phase 8 Development of the Hong Kong Polytechn...,0bdQlzzkqg,YAU TSIM MONG
...,...,...,...,...
84,NaN,Tsing Yi Tin Hau Temple,URlTAxmHSn,KWAI TSING
85,Multiple,Sun Kwai Hing Gardens,n2WCjpvkum,KWAI TSING
86,Multiple,La Maison Du Nord,Oc3bgN7x3G,CENTRAL & WESTERN
87,Single,The Peak Galleria,T5xqo0kixw,CENTRAL & WESTERN
88,Multiple,Cullinan West,a2T5bCXG9G,SHAM SHUI PO

In [15]:
df.to_csv(r'C:\Users\derri\OneDrive\Documents\VSCode\HK Socio Analysis\CleanedCSV\POS - Copy.csv')